* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

h2 {
  text-align: center;
  color: white;
  background:rgb(75, 73, 73);
}

.container {
  width: 90%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.card {
  width: 20%;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

button {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background:rgb(75, 73, 73);
  color: #fff;
}


/* MENU */

nav {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
nav .mainMenu {
  display: flex;
  list-style: none;
  margin: 0;
}
nav .mainMenu li a {
  display: inline-block;
  padding: 35px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ff8177;
  font-size: 1.5rem;
}
nav .mainMenu li a:hover {
  background: rgb(75, 73, 73);
}
nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
.fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(255, 0, 191);}
.fa-github:hover {color: rgb(255, 123, 0);}

nav .logo {
  margin: 25px;
  font-size: 25px;
  cursor: pointer;
}


/* Responsive Design */

@media(max-width: 800px){
  nav {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  nav .mainMenu {
      height: 100%;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #000;
      transition: top 1.5s ease;
      display: none;
  }
  nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;

  }
  nav .openMenu {
      display: block;
  }
  nav .mainMenu li a:hover {
      background: none;
      color: rgb(255, 123, 0);
      font-size: 1.6rem;
  }
  .icons i {
      display: inline-block;
      padding: 12px;
  }

  .container {
    width: 100%;
  }
  
  img {
    width: 100%;
 }

 div .card-body{
   font-size:medium;
 } 

  body {
    width: 100%;
  }

  h1 {
    width: 100%;
  }

  h2 {
    width: 100%;
  }
}